<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html/erb; charset=utf-8" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        min-height: 100vh;
        margin: 0 auto;
        background-color: white;
      }

      .wrapper {
        min-height: 300px;
        margin: 100px auto;
        padding: 20px;
        box-shadow: 0 4px 40px rgb(0 0 0 / 10%);
        border-radius: 6px;
      }

      .header-part {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        margin-bottom: 30px;
        border-bottom: 1.5px solid black;
      }

      .header-part h2 {
        margin-bottom: 10px;
      }

      .header-part p {
        margin-bottom: 5px;
      }

      .header-part span {
        font-weight: bold;
        margin-right: 7px;
      }

      .company-details {
        -webkit-box-flex: 4;
        -webkit-flex: 4;
        flex: 4;
      }

      .title {
        -webkit-box-flex: 6;
        -webkit-flex: 6;
        flex: 6;
        padding-left: 30px;
      }

      .title h1 {
        font-size: 40px;
        margin-bottom: 15px;
      }

      .title span {
        font-weight: bold;
        margin-right: 7px;
      }

      .bill-to {
        -webkit-box-flex: 4;
        -webkit-flex: 4;
        flex: 4;
      }

      .ship-to {
        -webkit-box-flex: 6;
        -webkit-flex: 6;
        flex: 6;
      }

      .table-wrapper {
        margin-bottom: 30px;
      }

      .table {
        width: 100%;
      }

      .table-row {
        margin: 15px 0;
      }

      .table-col {
        border: 1px solid black;
        padding: 3px 5px;
      }

      .summary {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        min-height: 75px;
      }

      .thank-you {
        flex-basis: 50%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;

        min-height: 30px;
        font-size: 35px;
        text-align: start;
        font-style: italic;
      }

      .order-summary {
        min-height: 30px;
        margin-right: 7px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        position: relative;
      }

      .order-summary p {
        position: absolute;
        transform: translate(-50%, -50%);
      }

      .order-summary span {
        font-weight: bold;
        margin-right: 7px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div>
        <div class="header-part">
          <div class="company-details">
            <h2 class="company-details-header">Budoman</h2>
            <% presenter.company_details.each do |detail| %>
              <p> <span><%= detail[:field] %></span> <%= detail[:value] %> </p>
            <% end %>
          </div>
          <div class="title">
            <h1>Faktura</h1>
            <% presenter.invoice_details.each do |detail| %>
              <p><span><%= detail[:field] %></span><%= detail[:value] %></p>
            <% end %>
          </div>
        </div>
        <div class="header-part">
          <div class="bill-to">
            <h2 class="company-details-header">Rachunek dla</h2>
            <% presenter.bill_to_details.each do |detail| %>
              <p> <span><%= detail[:field] %></span> <%= detail[:value] %> </p>
            <% end %>
          </div>
          <div class="ship-to">
            <h2 class="company-details-header">Rachunek do</h2>
            <% presenter.ship_to_details.each do |detail| %>
              <p> <span><%= detail[:field] %></span> <%= detail[:value] %> </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-wrapper">
        <table class="table">
          <tr class="table-row">
            <% presenter.rows_names.each do |row_name| %>
              <th class="table-col"><%= row_name %></th>
            <% end %>
          </tr>
          <% presenter.products_details.each do |product_details| %>
            <tr class="table-row">
              <td class="table-col"><%= product_details[:name] %></td>
              <td class="table-col"><%= product_details[:category_name] %></td>
              <td class="table-col"><%= product_details[:quantity] %></td>
              <td class="table-col"><%= product_details[:price] %> zł</td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="summary">
        <div class="thank-you">
          Dziękujemy odwiedzenie naszego sklepu!
        </div>
        <div class="order-summary">
          <p><span>Całkowita cena:</span><%= presenter.total_price %> zł</p>
        </div>
      </div>
    </div>
  </body>
</html>
